@model IEnumerable<House>

@inject CustomIDataProtection protector;
@{
    ViewData["Title"] = "House List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Houses</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
                <li><span>C</span></li>
            </ol>

            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">List of Houses</h2>
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-9">
                    <div class="m-0">
                        <a asp-controller="Setup" asp-action="AddHouse" class="btn btn-primary" style="background-color:cornflowerblue">Add House<i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <table class="table table-responsive-md table-striped mb-0" id="datatable-tabletools">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.HouseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PostCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateAdded)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateAdded)
                            </td>
                            <td>
                                <a asp-action="EditHouse" asp-route-id="@protector.Encode(item.HouseId.ToString())" style="color:magenta">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <footer class="card-footer">
            <a class="btn btn-dark" asp-controller="Home" asp-action="Index"><i class="fas fa-chevron-left"></i> Back</a>
        </footer>
    </section>
</section>