@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Locked out!";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

    var loginView = (LoginViewModel)ViewData["LoginView"];

    var user = await UserManager.GetUserAsync(User);
}

@*<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Your session has expired!</p>
    <p>
        <a asp-action="Login">Click here to login again</a>
    </p>
    <p><br /> or click on the logo to return to home page</p>
</header>*@

<div class="panel card-sign">
    @*<div class="card-title-sign mt-3 text-right">
        <h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle mr-1 text-6 position-relative top-5"></i> Lock Out</h2>
    </div>*@
    <div class="card-body">
        <form asp-controller="Account" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="current-user text-center">
                <img src="img/!logged-user.jpg" alt="John Doe" class="rounded-circle user-image" />
                <h2 class="user-name text-dark m-0">@user.FirstName</h2>
                <p class="user-email m-0">@user.Email</p>
            </div>
            <div class="form-group mb-3">
                <div class="input-group">
                    <input id="pwd" asp-for="@loginView.Password" type="password" class="form-control form-control-lg" placeholder="Password" />
                    <span class="input-group-append">
                        <span class="input-group-text">
                            <i class="bx bx-lock"></i>
                        </span>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="mt-1 mb-3">
                        <a asp-action="Login">Not John Doe?</a>
                    </p>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary pull-right">Unlock</button>
                </div>
            </div>
        </form>
    </div>
</div>
